@media(max-width:575px) {
   .parentdiv {
      max-width: 100%;
   }

   header nav {
      display: none;

   }

   header img {
      width: 200px;
      height: 90px;
   }

   /* ? INTRODUCTION--- */
   .intro-top .intro-top-right img {
      height: 500px;
      width: 350px;
      margin-left: 10PX;
   }

   .intro-bottom img:nth-child(1),
   .intro-bottom img:nth-child(4) {
      display: none;
   }

   .intro-bottom img.partner2 {
      width: 150px;
   }

   .intro-bottom img.partner3 {
      width: 150px;
   }

   /* ? APPLY------------------ */


   .apply .apply-left img {
      width: 370px;
      height: 500px;
      /* margin-right: 30px; */
   }

   section.apply {
      display: flex;
      flex-direction: column-reverse;
   }

   /* ?--CARDS------------ */
   .cards .card:nth-child(5), 
   .cards .card:nth-child(2),
   .cards .card:nth-child(3) {
      display: none;
   }
/* 
   .cards{
      display: flex;
      justify-content: space-between;
   } */

   .cards{
      display: grid;
   grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
   gap: 10px;
   text-align: center;
   }
   .cards .card{
      width: 160px;
   }


   /* ? SOLUTIONS----------*/
   .solutions .solutions-right img {
      width: 380px;
      margin-top: 30px;
      /* margin-left: 100px; */
   }

   .solutions .solutions-left h1 {
      font-size: 30px;
   }




}














@media(min-width:576px) {
   .parentdiv {
      max-width: 540px;
      margin: 0 auto;
   }

   header nav {
      display: none;

   }
}








@media(min-width:768px) {
   .parentdiv {
      max-width: 720px;
      margin: 0 auto;
   }

   /* ? HEADER */
   header {
      padding-top: 10px;
   }

   header nav {
      display: block;
   }

   header .fa-bars {
      display: none;
   }

   header a.button {
      margin-right: 0px;
   }

   header img {
      width: 250px;
      height: 70px;
   }

   header a {
      margin-right: 10px;
   }

   /* ? INTRODUCTION */
   .intro-top {
      margin-top: 50px;
      display: flex;
   }

   .intro-top .intro-top-left h1 {
      font-size: 40px;
   }

   .intro-top .intro-top-right img {
      height: 500px;
      width: 400px;
      margin-left: 20PX;
   }

   .introduction .intro-bottom {
      padding-top: 100px
   }

   .intro-bottom img:nth-child(4) {
      display: none;
   }

   /* ? APPLY---- */
   section.apply {
      display: flex;
   }

   .apply .apply-left img {
      width: 430px;
      height: 650px;
      margin-right: 30px;
   }

   section.apply {
      margin-top: 10px;
   }

   .apply .apply-right {
      width: 560px;
   }

   /* ? CARDS--------------- */
   .cards .card:nth-child(3),
   .cards .card:nth-child(5) {
      display: none;
   }

   .cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
      gap: 10px;
      text-align: center;
   }
   .cards .card{
      width: 200px;
   }


   /* ? SOLUTIONS------------- */

   .solutions .solutions-right img {
      width: 450px;
      margin-top: 50px;
      margin-left: 100px;
   }

   .solutions .solutions-left h1 {
      font-size: 35px;
   }

   .solutions .solutions-right {
      padding: 0 20px;
   }



}



@media(min-width:992px) {
   .parentdiv {
      max-width: 960px;
      margin: 0 auto;
   }

   /* ? HEADER ----*/
   header a.button {
      margin-right: 50px;
   }

   header a {
      margin-right: 30px;
   }

   header img {
      width: 283px;
      height: 57px;
   }

   /* ? INTRODUCTION--- */
   .intro-top {
      margin-top: 70px;
   }

   .intro-top .intro-top-left h1 {
      font-size: 55px;
   }

   .intro-top .intro-top-right img {
      height: 600px;
      width: 550px;
   }

   .intro-bottom img {

      display: inline !important;
   }

   /* ? APPLY--- */
   .apply .apply-left img {
      width: 600px;
      height: 600px;
   }

   section.apply {
      margin-top: 50px;
   }

   /* ? CARDS-------- */
   .cards {
      margin-top: 70px;

   }

   .cards .card {
      display: inline !important;
   }

   /* ? SOLUTIONS----- */
   .solutions .solutions-right img {
      width: 630px;
      height: 551px;
      margin: 0px;

   }

   .solutions {
      display: flex;
   }







}











@media (min-width:1200px) {
   .parentdiv {
      max-width: 1140px;
      margin: 0 auto;
   }
}